<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.xigu.uct.test.activity"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name">
    <uses-library android:name="android.test.runner" />
    </application>
 <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />
    <instrumentation android:targetPackage="com.xigu.uct" android:name="android.test.InstrumentationTestRunner" />
</manifest> 